body {
  font-family: Arial, sans-serif;
  background: url("/resources/background.gif") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 36px;
}

h2 {
  margin-top: 20px;
  color: #f5f5f5;
  font-size: 18px;
}
  
iframe {
  border-radius: 12px;
  margin-top: 30px;
}

ul {
  margin-top: 10px;
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  color: #f5f5f5;
}

li {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

nav {
  background-color: #111;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #555;
}

h6.footer {
  color: #888;
  font-size: 14px;
  margin-top: 50px;
}
